@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
  .my-text-gradient {
    @apply bg-gradient-to-r from-blue-900 via-purple-900 to-blue-900 bg-clip-text text-transparent;
  }
  .my-text-2 {
    @apply bg-gradient-to-r from-cyan-400 via-purple-500 to-pink-500 bg-clip-text text-transparent;
  }
  .animate-spin-slow {
    animation: spin 20s linear infinite;
  }
  .animate-reverse-spin {
    animation: reverse-spin 15s linear infinite;
  }
  .perspective-1000 {
    perspective: 1000px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes reverse-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
